[submodule "dea_ng"]
	path = dea_ng
	url = git://github.com/allomov/dea_ng.git
[submodule "cloud_controller_ng"]
	path = cloud_controller_ng
	url = git://github.com/allomov/cloud_controller_ng.git
[submodule "gorouter"]
	path = gorouter
	url = git://github.com/allomov/gorouter.git
[submodule "health_manager"]
	path = health_manager
	url = https://github.com/cloudfoundry/health_manager.git
[submodule "warden"]
	path = warden
	url = git://github.com/cloudfoundry/warden.git
[submodule "uaa"]
	path = uaa
	url = https://github.com/cloudfoundry/uaa.git
